<html>
    <head>
      <link href="style.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
      <title> Anna's Corner </title>
      <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
    </head>
    <body>
      <div id = "content">
        <h1 class = "fancy"> Anna's Corner - Open to All</h1>
        <hr>

      <% for(let i = posts.length-1; i >= 0; i--) { %>
            <h3 class = "fancy"><%- posts[i].title%></h3>
            <h5 class = "fancy"> <%-  posts[i].date%> </h5>
            <p class = "post"><%- posts[i].body.replace(new RegExp('\r?\n','g'), '<br />') %></p>
            <hr>
        <% } %>
      </div>
      <div id = "space">
      </div>
        <form action="addPost" method = "POST">
            <p class = "fancy"> Title: <input name = "title"/> </p>
            <p class = "fancy"> Post: </p><textarea name="body"></textarea>
            <p> <button type="submit" class = "fancy" id = "post_button"> Add Post </button> </p>
        </form>
    </body>
</html>
